<div class="w-screen h-screen flex justify-center items-center">
    <mat-card class="max-w-2xl text-center w-full mat-elevatopn-z4">
        <mat-card-title>
            <h1> Login </h1>
        </mat-card-title>
        <mat-card-content>
            <div class="w-full flex flex-col">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="text" matInput>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput>
                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button color="accent">Button</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>
